body {
  background: linear-gradient(#F8235F, #852466);
  background-attachment: fixed;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  margin-top: 40px;
  text-align: center;
}

h2 {
  color: #00E0B9;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  letter-spacing: 1px;
}

h3 {
  color: #B1CD02;
}

h6 {
  color: #F8235F;
  font-weight: 800;
}

hr {
  border: .25rem solid #852466;
  width: 50px;
}

.content {
  margin-top: 3em;
}

.hologram-btn {
  -webkit-transition: all 250ms ease;
  background: none;
  border-radius: 0;
  border: 0;
  color: #B1CD02;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 2rem 1rem 0;
  padding: 1.5em 2.6em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms ease;
}

.hologram-btn:hover {
  background: none;
  color: #fff;
}

.hologram-btn:before, .hologram-btn:after {
  -webkit-transition: .25s;
  border: 2px solid;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .25s;
  width: 100%;
}

.hologram-btn:before {
  -webkit-transform: translateX(-0.25em) translateY(0.25em);
  color: #B1CD02;
  transform: translateX(-0.25em) translateY(0.25em);
}

.hologram-btn:after {
  -webkit-transform: translateX(0.25em) translateY(-0.25em);
  color: #00E0B9;
  transform: translateX(0.25em) translateY(-0.25em);
}

.hologram-btn:hover:before, .hologram-btn:hover:after {
  -webkit-transform: translateX(0) translateY(0);
  color: #fff;
  transform: translateX(0) translateY(0);
}
